<h1>Sysdig Transaction Flame</h1>
<div id="svTrList" style="float:left">Transactions:</div>
<div id="svLegend" style="float:right"></div>
<div style="clear:both"></div>
<div id="svChartTitle">
  <h2>Transaction Average</h2>
</div>
<div id="chart">
  <div style="position: relative">
    <div class="svPopout" id="svPopout"></div>
  </div>
</div>
<div id="svDetails"> <b>Info</b>:</div>
<br>
<div id="svLogs"></div>