<nav class="navigator -align-left">
    {{#link-to "index" class="logo"}}
        <img src="sysdig_white.svg" onerror="this.src = 'sysdig_white.png'">
    {{/link-to}}
</nav>
<div class="separator"></div>
<nav class="navigator -align-right">
    <a href="#" class="item"><i class="material-icons">help</i></a>
</nav>
