{{#each legendItems key="@identity" as |item|}}
    <li class="item">
        <i class="material-icons icon" style="color: {{item.color}}">lens</i>
        <span class="text">{{item.name}}</span>
    </li>
{{/each}}
