body { // body
    // Variables
    @background-color:  #EFEFEF;

    // Rulesets
    background-color:   @background-color;
    padding:            @padding-md @padding-md 0 @padding-md;

    color:              @black-regular;
    font-family:        robotoregular, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Segoe UI', Ubuntu, Arial, sans-serif;
    font-size:          @size-body;

    // Children selectors
    * {
        box-sizing: border-box;
    }
    a {
        color:      @color-accent;
        font-weight: @semibold;
    }
    b, strong {
        font-weight: @semibold;
    }
    .material-icons {
        font-size: inherit;
    }
    .sd-panel {
        margin-bottom:  @margin-md;
    }

    // Set panels height to make them fit the viewport
    @used-page: @top-header-height - @margin-md * 2;
    .transactions-table,
    .span-log {
        height: calc(~"(100vh / 4) - " @used-page);
    }
    .flame-ui {
        height: calc(~"(100vh / 2) - " @used-page);
    }
}
