.table {
    // Variables
    @row-hovered-bg:            fade(#000, 8%);
    @row-selected-bg:           fade(@color-primary, 10%);
    @row-selected-hovered-bg:   fade(@color-primary, 15%);
    @compact-cell-padding:      1px;
    @row-border-color:          #D9D9D9;

    // Rulesets
    width:        100%;
    text-align:   left;
    table-layout: fixed;

    // Children selectors
    .th, .td {
        padding:        @padding-sm @padding-md;
        border-bottom:  1px solid @row-border-color;
        vertical-align: middle;
        &.-number {
            text-align: right;
        }
        &.-icon {
            width:        1.2em;
            text-align:   center;
            font-size:    @icon-sm;
            border-right: 0;
            * {
                vertical-align: middle;
            }
        }
    }
    .thead {
        font-weight: @semibold;
        color:       @black-light;
        .th {
            &.-icon {
                &:extend(.table .th.-icon);
            }
            border-right: 1px solid @row-border-color;
            &:last-of-type {
                border-right: 0;
            }
        }
    }
    .tbody {
        .tr {
            &.-link {
                cursor: pointer;
                &:hover {
                    background-color: @row-hovered-bg;
                }
            }
            &.-selected {
                background-color: @row-selected-bg;
                &:hover {
                    background-color: @row-selected-hovered-bg;
                }
            }
            .td {

            }
            &:last-of-type .td {
                border-color: transparent;
            }
        }
    }
    .thead, .tr {
        &.-no-border {
            .th, .td {
                border-bottom: 0;
            }
        }
    }
    .-compact {
        &.tbody .td, &.thead .th {
            padding-top: @compact-cell-padding;
            padding-bottom: @compact-cell-padding;
        }
    }
}
