.sd-app-container {
    display:        flex;
    flex-direction: column;
    width:          100%;
    height:         calc(~"100vh - " @margin-md);
    .row-1 {
        flex: 1;
    }
    .row-2 {
        flex: 2;
    }
}
