.sd-panel-content {
    padding:  @padding-md;
    &.-no-padding {
        padding: 0;
    }

    // By default, set overflow auto to add scrollbars if content is too high
    // if you prefer a different behavior use the -overflow-x modifier
    overflow: auto;
    &.-overflow {
        &-visible {
            overflow: visible;
        }
        &-hidden {
            overflow: hidden;
        }
    }
    > .table {
        margin-top: @margin-sm;
    }
}
