.sd-panel-header {
    &:extend(.sd-panel .sd-panel-footer);

    // Rulesets
    background-color:   @header-color;
    border-top:         none;
    border-bottom:      @separator;

    // Children selectors
    .title {
        font-size:      @size-title;
        font-weight:    @semibold;
        color:          @black-bold;
    }
}
