<h1>Sysdig Transaction Flame</h1>

{{transactions-table
    nodes =     model.nodes
    select =    "svSwitchData"
}}

{{#if model.selectedNode}}
    {{flame-ui
        node =      model.selectedNode
        op =        model.selectedOp
        data =      model.flames
        select =    "svShowLog"
    }}

    {{#if model.selectedSpan}}
        {{span-log
            span =  model.selectedSpan
        }}
    {{/if}}
{{/if}}