<div class="sd-app-container">
    {{sd-header class="-fixed"}}

    {{transactions-table
        transactions = model.transactions
        select       = "selectTransaction"
        class        = "row-1"
    }}

    {{#if model.selectedNode}}
        {{flame-ui
            node    = model.selectedNode
            op      = model.selectedOp
            data    = model.flames
            select  = "selectSpan"
            class   = "row-2"
        }}

        {{#if model.selectedSpan}}
            {{span-log
                span  = model.selectedSpan
                class = "row-1"
            }}
        {{/if}}
    {{/if}}
</div>
